<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>...</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">
	<style>
		body {
			font-family: 'Roboto Mono', sans-serif;
			line-height: 1em;
		}
		table {
			width: 100%;
		}
		.stat-table-container {
			overflow-x: scroll;
			overflow-y: hidden;
		}
		.stat-table-column-title {
			display: block;
			width: 60px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.stat-table-row-title {
			display: block;
			width: 115px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.stat-table td:nth-child(odd) {
			background-color: #FF929E;
		}
		.stat-table td:nth-child(even) {
			background-color: #CCFFA5;
		}
		.stat-table th {
			color: white;
			background-color: #4D2FE8;
			cursor: pointer;
		}
		.stat-table th:first-of-type,
		.stat-table td:first-of-type {
			position: absolute;
			left: 0px;
			width: 122px;
			color: white;
			background-color: #4D2FE8;
			z-index: 1;
		}
		.stat-table th:nth-of-type(2),
		.stat-table td:nth-of-type(2) {
			padding-left: 126px;
		}
		.stat-table tr:hover td,
		.stat-table tr:hover {
			color: black;
			background-color: #9DFFEC;
		}
		.stat-table-chart {
			background-color: #4D2FE8;
		}
		.stat-table-chart .ct-line {
			stroke-width: 2px;
		}
		.stat-table-chart .ct-label {
			color: white;
		}
		.stat-tree {
			background-color: #18c0a6;
		}
		.stat-tree-row {
			display: flex;
			justify-content: space-between;
		}
		.stat-tree-row--header {
			color: white;
			background-color: #4D2FE8;
		}
		.stat-tree-row--header b {
			cursor: pointer;
		}
		.stat-tree-row:hover:not(.stat-tree-row--header) .stat-tree-row__name,
		.stat-tree-row:hover:not(.stat-tree-row--header) .stat-tree-row__value,
		.stat-tree-row:hover:not(.stat-tree-row--header) {
			color: black;
			background-color: #9DFFEC;
		}
		.stat-tree-row__name {
			margin-right: auto;
			padding: 3px;
			padding-right: 5px;
			cursor: pointer;
			white-space: nowrap;
    		overflow: hidden;
    		text-overflow: ellipsis;
			color: white;
			background-color: #4D2FE8;
		}
		.stat-tree-row__value {
			min-width: 75px;
			padding: 3px;
			overflow: hidden;
		}
		.stat-tree-row__positive {
			background-color: #CCFFA5;
		}
		.stat-tree-row__negative {
			background-color: #FF929E;
		}
		.stat-tree-row-children {
			margin-left: 20px;
		}
	</style>
</head>

<body id="body">
	<!-- TODO https://tech.shutterstock.com/rickshaw/ -->

	<div id="app" v-if="isModelLoaded">
		<stat-table :table="model.table"></stat-table>
		<stat-table-chart :chart="model.table.model.addedChart"></stat-table-chart>
		<stat-table-chart :chart="model.table.model.removedChart"></stat-table-chart>
		<stat-tree :tree="model.tree"></stat-tree>
		<!-- <div>{{ debug }}</div> -->
	</div>

	<script id="stat-tree" type="text/x-template">
		<div class="stat-tree">
			<div class="stat-tree-row stat-tree-row--header">
				<div class="stat-tree-row__name" v-on:click="onSort('NAME')">
					<b>Objects</b>
				</div>
				<div class="stat-tree-row__value" v-on:click="onSort('FILE')">
					<b>Files</b>
				</div>
				<div class="stat-tree-row__value" v-on:click="onSort('USER')">
					<b>Users</b>
				</div>
				<div class="stat-tree-row__value" v-on:click="onSort('COMMIT')">
					<b>Commits</b>
				</div>
				<div class="stat-tree-row__value" v-on:click="onSort('ADDED')">
					<b>Added</b>
				</div>
				<div class="stat-tree-row__value" v-on:click="onSort('REMOVED')">
					<b>Removed</b>
				</div>
			</div>
			<stat-tree-row :row="tree"></stat-tree-row>
		</div>
	</script>

	<script id="stat-tree-row" type="text/x-template">
		<div>
			<div class="stat-tree-row">
				<div class="stat-tree-row__name" v-on:click="onToggle">
					<i :class="openIcon"></i>
					<i :class="icon"></i>
					{{ row.model.name }}
				</div>
				<div class="stat-tree-row__value stat-tree-row__positive">{{ row.model.fileCount }}</div>
				<div class="stat-tree-row__value stat-tree-row__positive">{{ row.model.userCount }}</div>
				<div class="stat-tree-row__value stat-tree-row__positive">{{ row.model.commitCount }}</div>
				<div class="stat-tree-row__value stat-tree-row__positive">{{ row.model.linesAdded }}</div>
				<div class="stat-tree-row__value stat-tree-row__negative">{{ row.model.linesRemoved }}</div>
			</div>
			<div class="stat-tree-row-children" v-if="hasChildren">
				<template v-for="child in row.children">
					<stat-tree-row :row="child"></stat-tree-row>
				</template>
			</div>
		</div>
	</script>

	<script id="stat-table" type="text/x-template">
		<div class="stat-table-container">
			<table class="stat-table" cellspacing="0">
				<thead>
					<tr>
						<th v-for="(value, index) in table.model.header" v-on:click="onSort(index)" :title="value">
							<div class="stat-table-column-title">{{ value }}</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="row in table.model.rows">
						<td v-for="(value, index) in row" :title="value">
							<div :class="{'stat-table-row-title': index === 0}">{{ value }}</div>
						</td>
					</tr>
					<tr>
						<td v-for="value in table.model.footer">{{ value }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fast-json-patch/2.0.6/fast-json-patch.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.js"></script>
	<script>
		let model = {}

		Vue.component("stat-tree", {
			template: "#stat-tree",
			props: ["tree"],
			methods: {
				onSort: function (columnKey) {
					callback(this.tree.id, "sort", {
						columnKey
					})
				}
			}
		})

		Vue.component("stat-tree-row", {
			template: "#stat-tree-row",
			props: ["row"],
			data: function () {
				return {}
			},
			methods: {
				onToggle: function () {
					callback(this.row.id, "toggle", {})
				}
			},
			computed: {
				hasChildren: function () {
					return this.row.children !== undefined && this.row.children !== null && this.row.children.length > 0
				},
				openIcon: function () {
					if (this.row.children === null) {
						return "fas fa-angle-right"
					} else if (this.hasChildren) {
						return "fas fa-angle-down"
					} else {
						return "fas fa-asterisk"
					}
				},
				icon: function () {
					switch (this.row.model.type) {
						case "USER":
							return "fas fa-user"
						case "FILE":
							return "fas fa-file"
						case "COMMIT":
							return "fas fa-tasks"
						default:
							return "fas fa-archive"
					}
				}
			}
		})

		Vue.component("stat-table", {
			template: "#stat-table",
			props: ["table"],
			methods: {
				onSort: function (columnIndex) {
					callback(this.table.id, "sort", {
						columnIndex
					})
				}
			},
		})

		Vue.component("stat-table-chart", {
			template: "<div class=\"stat-table-chart\"/>",
			props: ["chart"],
			mounted: function () {
				new Chartist.Line(this.$el, this.chart, {
					showArea: false,
					showPoint: true,
					fullWidth: true,
					height: "300px"
				})
			}
		})

		const app = new Vue({
			el: "#app",
			data: {
				model: undefined
			},
			computed: {
				isModelLoaded: function () {
					return this.model !== undefined
				},
				debug: function () {
					return JSON.stringify(this.model)
				}
			}
		})

		function formData(root) {
			const data = {}
			Array.from(root.getElementsByTagName("input")).forEach(element => {
				if (element.name) {
					data[element.name] = element.value
				}
			})
			return data
		}

		function callback(id, event, data) {
			data = data || {}
			connection.send(JSON.stringify({
				action: "CALLBACK",
				content: {
					event,
					id,
					data
				}
			}))
		}

		(function () {
			const self = this
			console.log("start")
			connection = new WebSocket('ws://localhost:8080/socket');
			connection.onmessage = function (message) {
				console.log("message", message)
				const data = JSON.parse(message.data)
				if (data.action === "PATCH_MODEL") {
					const patch = data.content
					app.model = jsonpatch.applyPatch(model, patch).newDocument
				}
			}
			connection.onopen = function () {
				console.log("connection opened")
				connection.send(JSON.stringify({
					action: "HANDSHAKE",
					content: {}
				}))
			}
			connection.onerror = function () {
				console.log("connection error", arguments)
			}
			connection.onclose = function () {
				console.log("connection closed", arguments)
			}
		})()

		window.onbeforeunload = function () {
			connection.close();
		};
	</script>

</body>

</html>